/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.aemassetpicker-block .fullWidth {
    width: 100%;
}

.aemassetpicker-block .boxMargin {
    margin-bottom: 20px;
}

.aemassetpicker-block .components-placeholder__label .dashicon {
    margin-right: 15px;
}